<html>
<head>
</head>
<body>
	<h1><%=pageTitle%></h1>
    <form>
    First Name : <input type="text" name="firstname" placeholder="Enter First Name..."/><br/>
    Last name : <input type="text" name="lastname" placeholder="Enter Last Name..."/><br/>
	Email : <input type="email" name="email" placeholder="Enter Email..."/><br/>
    Phone : <input type="text" name="Phone" placeholder="Enter Phone Number...."/><br/>
	<input type="submit" value="Submit">
    </form> 
    <h3>Small Biography On Komal</h3>
    <p>I am Komalpreet kaur jawanda (20042919). Student of computer programming .</p>
</body>
</html>